---
import { loginWithGitHub, logout, auth } from '../../lib/firebase';
import { onAuthStateChanged } from 'firebase/auth';
---

<div class="">
  {!onAuthStateChanged ? (
    <>
      <button
        onclick={`${loginWithGitHub}`}
        class="bg-black text-white px-6 py-3 rounded-md hover:bg-gray-800"
      >
        Iniciar sesión con GitHub
      </button>
    </>
  ) : (
    <>
      <button
        onclick={`${logout}`}
        class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700"
      >
        Cerrar sesión
      </button>
    </>
  )}
</div>